/* ==UserStyle==
@name			Makeship Store, Support and Launch Dark Mode
@namespace		github.com/aeywoo/makeship-dark
@version		0.4.0
@description	This stylesheet adds a dark mode to the Makeship Store, Makeship Support and Makeship Launch websites.
@author			Aeywoo
==/UserStyle== */

@-moz-document regexp("https?://[^/]+?\\.makeship\\.com/.*") {
	/* ==General Colour Overrides and Background Colours== */
	body {
		/* Base Colours */
		--makeship-text-color: rgb(229,229,229);
		--makeship-text-color--2: rgb(20,20,20);
		--makeship-header-color: rgb(102,142,255);
		--makeship-button-color: rgb(83,73,237);
		--makeship-background-color: rgb(20,20,20);
		--makeship-background-color-2: rgb(42,42,42);
		--makeship-background-color-3: rgb(50,50,50);
		--makeship-background-color-4: rgb(65,65,65);
		/* Logos */
		--makeship-footer-logo: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/footer-logo.svg");
		/* Icons */
		--makeship-icon-dropdown: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/dropdown-icon.svg");
		/* Social Icons */
		--makeship-social-icon-tiktok:
			url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/tiktok-icon.svg");
		--makeship-social-icon-twitter:
			url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/twitter-icon.svg");
		--makeship-social-icon-facebook:
			url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/facebook-icon.svg");
		--makeship-social-icon-instagram:
			url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/instagram-icon.svg");
	}
	::marker,
	li::marker,
	ul::marker {
		color: var(--makeship-header-color);
	}
	
	/* ==Makeship Store== */
	/* Setting global page background colour */
	body div[class^="_app__ContentWrapper-"] {
		background-color: var(--makeship-background-color);
	}
	
	/** ==Login/Signup Page== **/
	/* Sign-in/Sign-up box background colour */
	div[class^="Auth__AuthWrapper-sc-"] {
		background-color: var(--makeship-background-color-2);
	}
	/* Sign-in/Sign-up header, text and list text colours */
	div[class^="Auth__AuthWrapper-sc-"] :is(p, h4, ul) {
		color: var(--makeship-text-color);
	}
	/* Replacing all Hide/Show all password eye drop icons */
	div[class^="password__IconWrapper-"] span img[alt="icon of show-password icon"] {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/show-password.svg");
	}
	div[class^="password__IconWrapper-"] span img[alt="icon of hide-password icon"] {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/hide-password.svg");
	}
	/* Sign-in/Sign-up Input Box Placeholder Text */
	div[class^="input__InputWrapper-"] input::placeholder,
	div[class^="password__InputWrapper-"]::after {
		color: var(--makeship-text-color);
		opacity: .6;
	}
	/* Sign-in/Sign-up Links */
	form[class^="Auth__AuthForm-sc-"] a,
	form[class^="Auth__AuthForm-sc-"] a:active,
	form[class^="Auth__AuthForm-sc-"] a:hover,
	form[class^="Auth__AuthForm-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* "New to Makeship" Text */
	div[class^="Auth__AuthLinkContainer-sc-"] p[class^="Typography__P2-sc-"][class*="Auth__AuthLinkText-sc-"] {
		color: var(--makeship-text-color);
	}
	/* "New to Makeship" Background */
	div[class^="Auth__AuthLinkContainer-sc-"] p span {
		background-color: transparent;
	}
	/* Create Account Button */
	div[class^="Auth__AuthLinkContainer-sc-"] a {
		background-color: var(--makeship-background-color-3);
	}
	div[class^="Auth__AuthLinkContainer-sc-"] a:hover {
		background-color: var(--makeship-background-color-2);
	}
	
	/** ==Header Burger Menu== **/
	body div[class^="_app__Container-"] div[class^="Header__NavContainer-sc-"] div[class^="Drawer__DrawerWrapper-"] {
		background-color: var(--makeship-background-color-2);
	}
	/* Change the close icon to the white version */
	div[class^="Drawer__CancelIconWrapper-"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/close-icon.svg");
	}
	/* Change the links section text colours */
	div[class^="Drawer__MenuNavList-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the bottom links of the left-side hamburger menu */
	div[class^="Drawer__DrawerWrapper-"] div[class^="Drawer__LinksContainer-"] a,
	div[class^="Drawer__DrawerWrapper-"] div[class^="Drawer__LinksContainer-"] a p,
	div[class^="Drawer__DrawerWrapper-"] div[class^="Drawer__LinksContainer-"] a:active,
	div[class^="Drawer__DrawerWrapper-"] div[class^="Drawer__LinksContainer-"] a:hover,
	div[class^="Drawer__DrawerWrapper-"] div[class^="Drawer__LinksContainer-"] a:visited {
		color: var(--makeship-text-color);
	}
	/* Change the right arrow icon to the white version */
	div[class^="Drawer__MenuNavList-"] a[data-testid="show-campaigns"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/right-arrow-menu.svg");
	}
	
	/** ==Search Modal Menu== **/
	/* Change the search modal background colour */
	div[class^="Header__SearchBarDropDown-sc-"] {
		background-color: var(--makeship-background-color-3);
	}
	/* Change the cancel icon to the white version */
	div[class^="Header__CancelIconWrapper-sc-"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/close-icon.svg");
	}
	/* Change the search results text colours */
	div[class^="Header__SearchBarDropDownResults-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the search results :hover background-color colour */
	div[class^="Header__SearchBarDropDownResults-sc-"] div[class^="Header__SearchResultWrapper-sc-"]:hover {
		background-color: var(--makeship-background-color-2);
	}
	/* Change the "View All Results" button colour */
	div[class^="Header__SearchBarDropDownResults-sc-"] button,
	div[class^="Header__SearchBarDropDownResults-sc-"] button:active,
	div[class^="Header__SearchBarDropDownResults-sc-"] button:hover {
		color: var(--makeship-header-color);
	}
	
	/** ==Header Bar Search Form== **/
	/* Changing search results background colour*/
	form[class^="Header__SearchBarWrapper-sc-"] div[class^="Header__SearchResultsCard-sc-"] {
		background-color: var(--makeship-background-color-2);
	}
	/* Changing "Suggested" search results header text colour */
	form[class^="Header__SearchBarWrapper-sc-"] div[class^="Header__SearchResultsCard-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing search results hover action background colour */
	div[class^="Header__SearchResultsCard-sc-"] div[class^="Header__SearchResultWrapper-sc-"]:hover {
		background: var(--makeship-background-color-4);
	}
	/* Change the "View All Results" button colour */
	div[class^="Header__SearchResultsCard-sc-"] button,
	div[class^="Header__SearchResultsCard-sc-"] button:active,
	div[class^="Header__SearchResultsCard-sc-"] button:hover {
		color: var(--makeship-header-color);
	}
	
	/** ==Cart Dropdown Modal CSS== **/
	div[class^="CartDropdown__CartDropdownWrapper-sc-"] {
		background-color: var(--makeship-background-color-2);
	}
	div[class^="CartDropdown__CartDropdownHeader-sc-"] p {
		color: var(--makeship-text-color);
	}
	div[class^="CartDropdown__CartDropdownHeader-sc-"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/close-icon.svg");
	}
	div[class^="CartDropdown__CartSection-sc-"][class*="CartDropdown__EmptyCartWrapper-sc-"] h5 {
		color: vart(--makeship-text-color);
	}
	/* Changing the subtotal border-top colour */
	div[class^="CartDropdown__ShopPageWrapper-sc-"] {
		border-top: 1px solid var(--makeship-text-color);
	}
	/* Changing subtotal text colour */
	div[class^="CartDropdown__CartDropdownFooter-sc-"] div p,
	div[class^="CartDropdown__CartDropdownFooter-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing cart products name colour */
	.product__CartProductRow-sc-1twnssm-3 a {
		color: var(--makeship-text-color);
	}
	/* Changing cart products non-sale price text colour */
	div[class^="product__CartProductPriceWrapper-sc-"]  p[class^="Typography__P2-sc-"][class*="product__CartProductPrice-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Changing cart product quantity text colour */
	div[class^="Stepper__CartQuantityWrapper-"] p {
		color: var(--makeship-text-color);
	}
	
	/** ==My Account Page== **/
	div[class^="account__AccountHeader-sc-"] p[class^="Typography__S2-sc-"],
	div[class^="account__AccountHeader-sc-"] h5[class^="Typography__H5-sc-"] {
		color: var(--makeship-text-color);
	}
	div[class^="account__AccountCards-sc-"] a div p {
		color: var(--makeship-text-color);
	}
	
	/** == Order History == **/
	div[class^="Container-sc-"]:has([class^="orders__OrderHistoryDesktop-"]) p,
	div[class^="Container-sc-"]:has([class^="orders__OrderHistoryDesktop-"]) h5 {
		color: var(--makeship-text-color);
	}
	div[class^="orders__OrderHistorySection-"] {
		background: var(--makeship-background-color-3);
	}
	/* Changing the dropdown icons to a white version */
	div[class^="orders__DropdownIcon-"] span img[data-nimg="intrinsic"] {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/dropdown-icon.svg");
	}
	/* Changing order details and update shipping address link colours */
	div[class^="orders__OrderLinkWrapper-"] a,
	div[class^="orders__OrderLinkWrapper-"] a:active,
	div[class^="orders__OrderLinkWrapper-"] a:hover,
	div[class^="orders__OrderLinkWrapper-"] a:visited, /*{
		color: var(--makeship-header-color);
	}*/
	/* Changing "Learn more about our shipping timelines" link colour */
	div[class^="OrderProduct__ShipDateContainer-sc-"] a[data-testid="help-center"],
	div[class^="OrderProduct__ShipDateContainer-sc-"] a[data-testid="help-center"]:active,
	div[class^="OrderProduct__ShipDateContainer-sc-"] a[data-testid="help-center"]:hover,
	div[class^="OrderProduct__ShipDateContainer-sc-"] a[data-testid="help-center"]:visited,/* {
		color: var(--makeship-header-color);
	}*/
	/* Changing "Track my package" link colour */
	div[class^="OrderProduct__RightWrapper-sc-"] a,
	div[class^="OrderProduct__RightWrapper-sc-"] a:active,
	div[class^="OrderProduct__RightWrapper-sc-"] a:hover,
	div[class^="OrderProduct__RightWrapper-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	
	/** ==Account Settings== **/
	/* Username Header */
	h1[class^="settings__Title-"] {
		color: var(--makeship-text-color);
	}
	/* Account Info and Security Tabs */
	span[class^="Tabs__TabItem-"]:has(.eTpIeE) p {
		color: var(--makeship-header-color);
	}
	span[class^="Tabs__TabItem-"]:has(.bPXFnS) p {
		color: var(--makeship-text-color);
	}
	/*.Typography__P2-sc-16m971g-12.Tabs__TabItemText-e3qh26-2.dofDan.eTpIeE {
		color: var(--makeship-header-color);
	}
	.Typography__P2-sc-16m971g-12.Tabs__TabItemText-e3qh26-2.dofDan.bPXFnS {
		color: var(--makeship-text-color);
	}*/
	/** Account Info and Security Tabs :after border styling **/
	span[class^="Tabs__TabItem-"] p[class^="Typography__P2-sc-"]::after {
		background: var(--makeship-header-color);
	}
	/*.Typography__P2-sc-16m971g-12.Tabs__TabItemText-e3qh26-2::after {
		background: var(--makeship-header-color);
	}*/
	/* My Info Input Box Labels */
	div[class^="input__LabelsWrapper-"] label {
		color: var(--makeship-text-color);
	}
	/* Account Info Input Boxes Text Colour */
	input[class^="borderInput__Input-sc-"] {
		color: var(--makeship-text-color);
	}
	/* "Subscribe to emails for special events" Text */
	div[class^="signup__CheckboxWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/** Security Section **/
	/* Password Input Box Label Text */
	div[class^="password__InputContainer-"] label {
		color: var(--makeship-text-color);
	}
	/* Password Input Placeholder Text */
	div[class^="password__InputWrapper-"]::after {
		color: var(--makeship-text-color);
	}
	/* Password Input Requirements Text */
	div[class^="PasswordValidation__RequirementWrapper-"] p {
		color: var(--makeship-text-color);
	}
	/* Password Validation SVG */
	div[class^="PasswordValidation__RequirementWrapper-"] svg[class^="PasswordValidation__Checkmark-"] path {
		fill: var(--makeship-text-color);
	}
	/* Privacy Settings Text */
	div[class^="Security__PrivacyPolicyWrapper-sc-"] p,
	div[class^="Security__PrivacyPolicyWrapper-sc-"] h5 {
		color: var(--makeship-text-color);
	}
	/* Privacy Settings Links */
	div[class^="Security__PrivacySection-sc-"] a,
	div[class^="Security__PrivacySection-sc-"] a:hover,
	div[class^="Security__PrivacySection-sc-"] a:active,
	div[class^="Security__PrivacySection-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	
	/** ==Badges Page== **/
	/* "Player's Badges" */
	div[class^="username__BadgeHeader-sc-"] h1 {
		color: var(--makeship-text-color);
	}
	/* Each badges text colours */
	div[class^="username__BadgesWrapper-sc-"] a div p  {
		color: var(--makeship-text-color);
	}
	
	/** ==Singular Badge Page== **/
	/* Edition number revealed in countdown timer text colour */
	div[class^="badgeId__BadgeCountdownTimerWrapper-sc-"] :is(p, h5) {
		color: var(--makeship-text-color) !important;
	}
	/* Changing "Person's Colour Badge" text colour */
	div[class^="badgeId__TitleWrapper-sc-"] h1 {
		color: var(--makeship-text-color);
	}
	/* Visit Badge Library link text colour */
	div[class^="badgeId__TitleWrapper-sc-"] a,
	div[class^="badgeId__TitleWrapper-sc-"] a:hover,
	div[class^="badgeId__TitleWrapper-sc-"] a:active,
	div[class^="badgeId__TitleWrapper-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Changing the Info SVG icon path colours */
	div[class^="badgeId__InfoIconWrapper-sc-"] svg path {
		fill: var(--makeship-header-color);
	}
	/* Badge #ID and badge product name text colour */
	div[class^="badgeId__BadgeInfoWrapper-sc-"] :is(h5, p) {
		color: var(--makeship-text-color);
	}
	/* Explore Product link text colour */
	div[class^="badgeId__BadgeInfoWrapper-sc-"] a,
	div[class^="badgeId__BadgeInfoWrapper-sc-"] a:active,
	div[class^="badgeId__BadgeInfoWrapper-sc-"] a:hover,
	div[class^="badgeId__BadgeInfoWrapper-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Changing the "Click badge to reverse" text colour */
	div[class^="badgeId__Col-sc-"] p {
		color: var(--makeship-text-color);
	}
	
	/** ==Main Page CSS== **/
	div[class^="Carousel__CarouselHeader-"] a[data-testid="viewAll"] {
		color: var(--makeship-text-color);
	}
	/* Changing "Ready to launch a campaign?" text colour */
	div[class^="pages__AtMakeshipBody-sc-"] h2 {
		color: var(--makeship-header-color);
	}
	/* Changing launch a campaign paragraph text colour */
	div[class^="pages__AtMakeshipBody-sc-"] p {
		color: var(--makeship-text-color);
	}
	
	/** ==Oops Page== **/
	/* Changing all the "Oops" text colours */
	div[class^="sc-404__Error404Body-sc-"] p,
	div[class^="sc-404__Error404Body-sc-"] h1 {
		color: var(--makeship-text-color);
	}
	/* Changing the "Try these liks" text colour */
	div[class^="sc-404__Error404Bottom-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing the "Try these links" colours*/
	div[class^="sc-404__Error404Links-sc-"] a,
	div[class^="sc-404__Error404Links-sc-"] a:active,
	div[class^="sc-404__Error404Links-sc-"] a:hover,
	div[class^="sc-404__Error404Links-sc-"] a:visited {
		color: var(--makeship-header-color) !important;
	}
	
	/** ==Careers Page== **/
	.careers__MastheadWrapper-sc-16iw1d-1 {
		background-color: var(--makeship-background-color);
	}
	.careers__Masthead-sc-16iw1d-2 p {
		color: var(--makeship-text-color);
	}
	.careers__Masthead-sc-16iw1d-2 h3 {
		color: var(--makeship-header-color);
	}
	.careers__MastheadScroll-sc-16iw1d-5 img {
		filter: invert(1);
	}
	.careers__MissionStatsContainer-sc-16iw1d-11 h5 {
		color: var(--makeship-text-color);
	}
	.careers__MissionStatsContainer-sc-16iw1d-11 h2 {
		color: var(--makeship-header-color);
	}
	.Container-sc-1yqjamz-0.careers__Section-sc-16iw1d-23.careers__ValuesSection-sc-16iw1d-27 {
		background: linear-gradient(rgba(232, 224, 253, 0) 47.37%, rgb(45,35,182) 100%);
	}
	.careers__PerksWrapper-sc-16iw1d-31 h4 {
		color: var(--makeship-header-color);
	}
	.careers__PerkWrapper-sc-16iw1d-33 p {
		color: var(--makeship-text-color);
	}
	.careers__PerkWrapper-sc-16iw1d-33 p::before {
		color: var(--makeship-header-color);
	}
	.Container-sc-1yqjamz-0.careers__Section-sc-16iw1d-23.careers__ValuesSection-sc-16iw1d-27 h5 {
		color: var(--makeship-text-color);
	}
	.Container-sc-1yqjamz-0.careers__Section-sc-16iw1d-23.careers__RemoteFTSection-sc-16iw1d-24 h3 {
		color: var(--makeship-header-color);
	}
	.Container-sc-1yqjamz-0.careers__Section-sc-16iw1d-23.careers__RemoteFTSection-sc-16iw1d-24 p {
		color: var(--makeship-text-color);
	}
	.careers__Quote-sc-16iw1d-49 h1 {
		color: var(--makeship-text-color);
	}
	.careers__Quote-sc-16iw1d-49 h5 {
		color: var(--makeship-text-color);
	}
	.careers__Quote-sc-16iw1d-49 p {
		color: var(--makeship-text-color);
	}
	.careers__Card-sc-16iw1d-41.careers__SocialCard-sc-16iw1d-57 .Social__SocialWrapper-mkc4b9-0 a {
		filter: invert(1);
	}
	.JobBoard__JobTitleWrapper-sc-3h5tti-6 h3,
	.JobBoard__JobList-sc-3h5tti-2 h5,
	.JobBoard__JobDetails-sc-3h5tti-9 p {
		color: var(--makeship-text-color);
	}
	
	/** ==Launch Campaign Page== **/
	/* Changing launch campaign page background colour */
	body div[class^="id__LaunchCampaignWrapper-sc-"] {
		background-color: var(--makeship-background-color);
	}
	/* "Custom collectables for your fans" header text colour */
	div[class^="Container-sc-"][class*="id__PastCampaignsSection-sc-"] h2 {
		color: var(--makeship-header-color);
	}
	/* Changes all text in the past campaigns example space */
	div[class^="id__PastCampaignsContent-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changes the "View Product" links text colours in the past campaigns example space */
	div[class^="id__PastCampaignsContent-sc-"] a,
	div[class^="id__PastCampaignsContent-sc-"] a:hover,
	div[class^="id__PastCampaignsContent-sc-"] a:active,
	div[class^="id__PastCampaignsContent-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* "Ready to launch a campaign?" header text colour */
	div[class^="id__SolutionText-sc-"] h2 {
		color: var(--makeship-header-color);
	}
	/* "Ready to launch a campaign?" paragraph text colour */
	div[class^="id__SolutionText-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* "Why choose us?" header text colour */
	div[class^="Container-sc-1yqjamz-0 id__BenefitSection-sc-"] h2 {
		color: var(--makeship-header-color);
	}
	/* Benefit sections paragraph text colours */
	div[class^="id__Benefits-sc-"] :is(h5, p) {
		color: var(--makeship-text-color);
	}
	/* Get Started header text colour */
	div[class^="id__GetStartedText-sc-"] h4 {
		color: var(--makeship-header-color);
	}
	div[class^="id__GetStartedText-sc-"] p {
		color: var(--makeship-text-color);
	}
	
	/** ==Community Page== **/
	/* Changing makeship twitch header and paragraph text colours */
	div[class^="community__MakeshipTwitchContentWrapper-sc-"] p,
	div[class^="community__MakeshipTwitchContentWrapper-sc-"] h2 {
		color: var(--makeship-text-color);
	}
	/* Changing don't miss out and stay connected text colours */
	div[class^="community__StayConnectedContentWrapper-sc-"] h2,
	div[class^="community__StayConnectedContentWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing email and recaptcha text colours */
	div[class^="community__SubscribeWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing privacy policy and terms of service link colours */
	div[class^="Subscribe__FormColumn-sc-"] p[class^="Typography__Overline-sc-"][class*="Subscribe__CaptchaSubtext-sc-"] a {
		color: var(--makeship-header-color);
	}
	
	/** ==Shop Page CSS== **/
	/* Live Campaigns header text colour */
	div[class^="Container-sc-"][class*="collection__ShopPageWrapper-sc-"] :is(h2, p) {
		color: var(--makeship-text-color);
	}
	/* Inverting the colour of the filters icon because Makeship broke it somehow */
	div[class^="collection__HideFilters-sc-"] span img {
		filter: invert(1);
	}
	/* Changing "Past Campaign" text colour */
	div[class^="Badge__Container-sc-"][class*="ProductCard__StyledBadge-"] p[class^="Typography__Caption-sc-"] {
		color: var(--makeship-text-color--2);
	}
	
	/** ==Campaign Supporters Modal (Support Board Modal)== **/
	/* Changing campaign supporters react modal background colour */
	div[class^="ReactModal__Content ReactModal__Content--after-open"]:has(div[class^="SupportBoardModal__ModalWrapper-sc-"]) {
		background: var(--makeship-background-color) !important;
		border: 1px solid var(--makeship-button-color) !important;
	}
	/* Changing campaign supporters text colour */
	div[class^="SupportBoardModal__ModalHeader-sc-"] h5 {
		color: var(--makeship-text-color);
	}
	/* Changing cancel svg icon to white version */
	div[class^="SupportBoardModal__CancelIcon-sc-"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/close-icon.svg");
	}
	/* Changing Username and Badge text colours */
	div[class^="SupportBoardModal__BadgesHeader-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing reverse icon colour version */
	div[class^="SupportBoardModal__BadgeSort-sc-"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/reverse.svg");
	}
	/* Campaign supporters link text colour */
	div[class^="SupportBoardModal__Badges-sc-"] a,
	div[class^="SupportBoardModal__Badges-sc-"] a:active,
	div[class^="SupportBoardModal__Badges-sc-"] a:hover,
	div[class^="SupportBoardModal__Badges-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	div[class^="SupportBoardModal__ModalFooter-sc-"] p[class^="Typography__S1-sc-"][class*="SupportBoardModal__Footer-sc-"] {
		color: var(--makeship-text-color);
	}
	
	/** == Product "Owner/Creator" Page == **/
	/* Creator name header text colour */
	div[class^="Container-sc-"][class*="collection__ShopPageWrapper-sc-"] :is(h5, p) {
		color: var(--makeship-text-color);
	}
	
	/** == Product Page CSS == **/
	div[class^="handle__ProductCountdownTimerWrapper-sc-"] p,
	div[class^="handle__ProductCountdownTimerWrapper-sc-"] span[class^="CountdownTimer__CountdownTimerWrapper-sc-"] h5[class^="Typography__H5-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Change the product type header text colour */
	div[class^="ProductHeader__ProductRow-"] a,
	div[class^="ProductHeader__ProductRow-"] a p,
	div[class^="ProductHeader__ProductRow-"] a:active,
	div[class^="ProductHeader__ProductRow-"] a:hover,
	div[class^="ProductHeader__ProductRow-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* The "price" text colour */
	div[class^="ProductHeader__PriceRow-"] p {
		color: var(--makeship-text-color);
	}
	/* Product Name Text */
	div[class^="ProductInfostyled__ProductDetails-sc-"] h5 {
		color: var(--makeship-text-color);
	}
	/* By Studio/Developer/Person Text */
	div[class^="ProductInfostyled__ProductDetails-sc-"] p,
	div[class^="ProductInfostyled__ProductDetails-sc-"] p a,
	div[class^="ProductInfostyled__ProductDetails-sc-"] p a:focus ,
	div[class^="ProductInfostyled__ProductDetails-sc-"] p a:hover ,
	div[class^="ProductInfostyled__ProductDetails-sc-"] p a:active {
		color: var(--makeship-header-color);
	}
	/* Product Sales Count Text and Funded Percentage Text */
	div[class^="ProductInfostyled__ProgressRow-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the information SVG fill colour */
	div[class^="ProductInfostyled__IconWrapper-sc-"][class*="ProductInfostyled__InfoIconWrapper-sc-"] svg[class^="ProductInfostyled__InfoIcon-sc-"] g {
		fill: var(--makeship-header-color);
	}
	/* Digital Production Design Sales Text */
	div[class^="ProductInfostyled__VariantIntroWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Only Plush/Plush Production Design Selection Boxes Text */
	div[class^="ProductInfostyled__VariantContentRow-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Shipping Icon */
	div[class^="ProductInfostyled__ShipDateWrapper-sc-"] span img {
		filter: invert(1);
	}
	/* Shipping Estimated Timeline text */
	div[class^="ProductInfostyled__ShipDateWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Learn More About Shipping Timelines Text */
	div[class^="ProductInfostyled__ShipDateContainer-sc-"] a,
	div[class^="ProductInfostyled__ShipDateContainer-sc-"] a:hover,
	div[class^="ProductInfostyled__ShipDateContainer-sc-"] a:active,
	div[class^="ProductInfostyled__ShipDateContainer-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Recent Supporters text links */
	div[class^="SupportBoard__SupportBoardWrapper-sc-"] a,
	div[class^="SupportBoard__SupportBoardWrapper-sc-"] a:hover,
	div[class^="SupportBoard__SupportBoardWrapper-sc-"] a:active,
	div[class^="SupportBoard__SupportBoardWrapper-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Recent Supporters Text */
	div[class^="SupportBoard__SupportBoardWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* View All Supporters Text */
	div[class^="SupportBoard__Footer-sc-"] a p[class^="Typography__S2-sc-"][class*="SupportBoard__ViewAllText-sc-"],
	div[class^="SupportBoard__Footer-sc-"] a p[class^="Typography__S2-sc-"][class*="SupportBoard__ViewAllText-sc-"]:active,
	div[class^="SupportBoard__Footer-sc-"] a p[class^="Typography__S2-sc-"][class*="SupportBoard__ViewAllText-sc-"]:hover,
	div[class^="SupportBoard__Footer-sc-"] a p[class^="Typography__S2-sc-"][class*="SupportBoard__ViewAllText-sc-"]:visited {
		color: var(--makeship-header-color);
	}
	/* Message from the Creator text and links */
	/** Text **/
	div[class^="ProductInfostyled__CreatorMessageWrapper-sc-"],
	div[class^="ProductInfostyled__CreatorMessageWrapper-sc-"] :is(strong, span, p) {
		color: var(--makeship-text-color);
	}
	/* Change the "Enter your email to receive updates about this campaign!" text colour */
	div[class^="ProductInfostyled__SubscribeWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/** Link **/
	div[class^="ProductInfostyled__CreatorMessageWrapper-sc-"] a,
	div[class^="ProductInfostyled__CreatorMessageWrapper-sc-"] a:hover,
	div[class^="ProductInfostyled__CreatorMessageWrapper-sc-"] a:active,
	div[class^="ProductInfostyled__CreatorMessageWrapper-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Change the Email "Thank you for subscribing!" text */
	div[class^="ProductInfostyled__SubscribeWrapper-sc-"] div[data-gtm-name="success-message"] {
		color: var(--makeship-text-color);
	}
	/* Campaign process text, links and image */
	/** Image **/
	div[class^="ProductInfostyled__LogoWrapper-sc-"][class*="ProductInfostyled__InfographicLogoWrapper-sc-"] span img {
		filter: invert(1);
	}
	/** Change the header text colour **/
	div[class^="ProductInfostyled__CampaignProcessContainer-sc-"] p {
		color: var(--makeship-text-color);
	}
	div[class^="ProductInfostyled__ProductInfographicWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	div[class^="ProductInfostyled__ProductInfographicItem-sc-"] p[class^="Typography__Overline-sc-"] {
		color: var(--makeship-text-color);
	}
	/** Change the "Learn more about our shipping timelines" link text colour **/
	div[class^="ProductInfostyled__CampaignProcessContainer-sc-"] a,
	div[class^="ProductInfostyled__CampaignProcessContainer-sc-"] a:hover,
	div[class^="ProductInfostyled__CampaignProcessContainer-sc-"] a:active,
	div[class^="ProductInfostyled__CampaignProcessContainer-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Change the "Share this Campaign" text colour */
	div[class^="ProductInfostyled__ProductInfo-sc-"] p[class^="Typography__P1-sc-"][class*="ProductInfostyled__SocialHeader-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Accordion Wrappers text, links, styles and svgs */
	/** Text **/
	.Accordion__AccordionWrapper-osg7d7-0,
	.Accordion__AccordionWrapper-osg7d7-0 p,
	.Accordion__AccordionWrapper-osg7d7-0 h5 {
		color: var(--makeship-text-color);
	}
	.Typography__P1-sc-16m971g-11.ProductInfostyled__SocialHeader-sc-1xewy4m-40 {
		color: var(--makeship-text-color);
	}
	/** Links **/
	.Accordion__AccordionWrapper-osg7d7-0 p a,
	.Accordion__AccordionWrapper-osg7d7-0 p a:hover,
	.Accordion__AccordionWrapper-osg7d7-0 p a:active,
	.Accordion__AccordionWrapper-osg7d7-0 p a:visited {
		color: var(--makeship-header-color);
	}
	/** Styles **/
	.Accordion__AccordionSection-osg7d7-1 {
		border-bottom: 1px solid var(--makeship-text-color);
	}
	/** SVGs **/
	/*** Accordion Dropdown Icon ***/
	.ProductInfostyled__ProductInfo-sc-1xewy4m-0 .Accordion__AccordionArrow-osg7d7-3 {
		content: var(--makeship-icon-dropdown);
	}
	/*** Twitter ***/
	.ProductInfostyled__ProductInfo-sc-1xewy4m-0 .Social__SocialWrapper-mkc4b9-0 a:nth-of-type(1) {
		content: var(--makeship-social-icon-twitter);
	}
	/*** Facebook ***/
	.ProductInfostyled__ProductInfo-sc-1xewy4m-0 .Social__SocialWrapper-mkc4b9-0 a:nth-of-type(2) {
		content: var(--makeship-social-icon-facebook);
	}
	/* Recommended For You Section */
	/** Text **/
	.Carousel__Container-c4cp6h-0 h2 {
		color: var(--makeship-text-color);
	}
	/** Modules **/
	.ProductCard__Container-czk5kj-2 p {
		color: var(--makeship-text-color);
	}
	/** Flickity Page Dots **/
	.flickity-page-dots li {
		background: #FFF !important;
	}
	
	/** ==Campaign Product Page== **/
	div[class^="handle__PetitionCountdownTimerWrapper-sc-"] p[class^="Typography__S2-sc-"],
	div[class^="handle__PetitionCountdownTimerWrapper-sc-"] h5[class^="Typography__H5-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Changing the "Let's make the *Product* happen" header text colour
	 * And the "By" creator/user tag. */
	div[class^="PetitionInfostyled__PetitionDetails-sc-"] :is(h5,p) {
		color: var(--makeship-text-color);
	}
	/* Changing the "Product Launched on" date text colour */
	div[class^="PetitionInfostyled__PetitionLaunchInfoWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing the text colour */
	div[class^="PetitionInfostyled__ProgressBarWrapper-sc-"] div[class^="PetitionInfostyled__ProgressRow-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the "Pledge to show the creator" text colour */
	p[class^="Typography__P1-sc-"][class*="PetitionInfostyled__PetitionCaption-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Changing the "Why?" and "Story" tab title text colours and botder-bottom colours */
	div[class^="PetitionInfostyled__CreatorPitchToggle-sc-"] p[class*="fbavko"] {
		color: var(--makeship-header-color);
		border-bottom: 2px solid var(--makeship-header-color);
	}
	div[class^="PetitionInfostyled__CreatorPitchToggle-sc-"] p[class*="kXTSxL"] {
		color: var(--makeship-text-color);
		border-bottom: 2px solid var(--makeship-text-color);
	}
	/* Change the "Why?" and "Story" paragraph text colours */
	div[class^="PetitionInfostyled__ProductDescription-sc-"] p,
	div[class^="PetitionInfostyled__ProductDescription-sc-"] p[class^="Typography__Overline-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Inverts the Infographic Icon because they didn't make it transparent */
	div[class^="PetitionInfostyled__LogoWrapper-sc-"] span img[alt="Infographic Icon"] {
		filter: invert(1);
	}
	
	/* Changes the dropdown-icon svg file to the white version */
	div[class^="Accordion__AccordionHead-"] span img[class*="egpICM"] {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/dropdown-icon.svg");
	}
	div[class^="Accordion__AccordionHead-"] span img[class*="dJeCla"] {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/dropdown-icon.svg");
	}
	/* Changes the "Enter your email to receive updates" text colour */
	div[class^="PetitionInfostyled__SubscribeWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changes the "Share this Petition" text colour */
	p[class^="Typography__P1-sc-"][class*="PetitionInfostyled__SocialHeader-sc-"] {
		color: var(--makeship-text-color);
	}
	/* Changes the "Reference images provided by creator" subtext colour */
	div[class^="ImageGallery__MainImageWrapper-sc-"] div p {
		color: var(--makeship-text-color);
	}
	
	/** ==Not Funded Product Page== **/
	div[class^="ProductInfostyled__ProgressBarWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Campaign refund guaranteed text colour */
	div[class^="ProductInfostyled__RefundGuaranteedWrapper-sc-"] p {
		color: var(--makeship-text-color);
	}
	
	/** ==Sign up for email modal== **/
	/* Setting react modal background colour and border colour */
	div[class^="ReactModal__Content"][class*="ReactModal__Content--after-open"]:has(div[class^="SubscribeModal__ModalContent-"]) {
		background: var(--makeship-background-color) !important;
		border: 1px solid var(--makeship-button-color) !important;
	}
	/* Changing close button icon to white version */
	div[class^="SubscribeModal__CancelIcon-"] span img {
		content: url("https://raw.githubusercontent.com/Aeywoo/makeship-dark/main/img/close-icon.svg");
	}
	/* Changing modal text colour */
	div[class^="SubscribeModal__ModalContent-"] :is(p, h5) {
		color: var(--makeship-text-color);
	}
	/* Changing Privacy Policy link text colour */
	div[class^="SubscribeModal__ModalContent-"] div[class^="SubscribeModal__SubscribeWrapper-"] :is(a, span),
	div[class^="SubscribeModal__ModalContent-"] div[class^="SubscribeModal__SubscribeWrapper-"] a:hover,
	div[class^="SubscribeModal__ModalContent-"] div[class^="SubscribeModal__SubscribeWrapper-"] a:active,
	div[class^="SubscribeModal__ModalContent-"] div[class^="SubscribeModal__SubscribeWrapper-"] a:visited,
	p[class^="Typography__Caption-sc-"][class*="SubscribeModal__ModalCaption-"] span[class^="SubscribeModal__CaptionLink-"] {
		color: var(--makeship-header-color);
	}
	
	/** ==Shipping Destinations== **/
	/* Changing main article text colours */
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] :is(p, h1, ul) {
		color: var(--makeship-text-color);
	}
	
	/* Changing list item dot element colours and link colours */
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] li::before,
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] a,
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] a,
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] a:active,
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] a:hover,
	div[class^="Container-sc-"][class*="ShippingDestinations__ShippingDestinationsContainer-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	
	/** ==Sustainability Page== **/
	/* Change the background-color of the Calculations section */
	div[class^="sustainability__SustainabilityContainer-"] div[class^="Container-sc-"][class*="sustainability__CalculationsContainer-"] {
		background-color: var(--makeship-background-color-4);
	}
	/* Change the "Make Good" section header text colours */
	div[class^="Container-sc-"][class*="sustainability__Header-"] h1 {
		color: var(--makeship-header-color);
	}
	/* Change the "Make Good" paragraph section text colour */
	div[class^="Container-sc-"][class*="sustainability__Header-"] h6 {
		color: var(--makeship-text-color);
	}
	/* Change "The Calculations" header text colour */
	div[class^="Container-sc-"][class*="sustainability__CalculationsContainer-"] h2[class^="Typography__H2-sc-"][class*="sustainability__CalculationsTitle-"] {
		color: var(--makeship-text-color);
	}
	/* Change the sustainability paragraph text colour */
	div[class^="sustainability__CalcCol-"] p[class^="Typography__S1-sc-"][class*="sustainability__CalculationsBlueSub-"] {
		color: var(--makeship-header-color);
	}
	/* Change the border-top and border-bottom colours for the second Sustainability sub-section */
	div[class^="sustainability__NumbersContainer-i5kj1d-47 jHoduQ"] {
		border-top: 1px solid var(--makeship-text-color);
		border-bottom: 1px solid var(--makeship-text-color);
	}
	/* Change the second sustainability sub-section text colour */
	div[class^="sustainability__NumbersContainer-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the section sustainability sub-section header text colour */
	div[class^="sustainability__NumbersContainer-"] h2 {
		color: var(--makeship-header-color);
	}
	/* Change the "View Source" link colours */
	div[class^="sustainability__LinkRow-"] a,
	div[class^="sustainability__LinkRow-"] a:active,
	div[class^="sustainability__LinkRow-"] a:hover,
	div[class^="sustainability__LinkRow-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Change the last calculations paragraph text colour */
	div[class^="sustainability__CalcCol-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the "Read more and Donate" section header text colour */
	div[class^="Container-sc-"][class*="sustainability__DonateRow-"] div[class^="sustainability__DonateCol-"] h4 {
		color: var(--makeship-header-color);
	}
	/* Change the "Read more and Donate" paragraph text colour */
	div[class^="Container-sc-"][class*="sustainability__DonateRow-"] div[class^="sustainability__DonateCol-"] p {
		color: var(--makeship-text-color);
	}
	/* Change the "Read more and Donate" link text colours*/
	div[class^="sustainability__DonateCol-"] a,
	div[class^="sustainability__DonateCol-"] a:active,
	div[class^="sustainability__DonateCol-"] a:hover,
	div[class^="sustainability__DonateCol-"] a:visited {
		color: var(--makeship-header-color);
	}
	
	/** == Legal Pages - Privacy Policy/Terms of Service/Shipping Policy/Refund Policy == **/
	div[class^="Container-sc-"][class*="handle__PolicyWrapper-sc-"] :is(b, p, ul) {
		color: var(--makeship-text-color);
	}
	/* Changing colour for the entire list of shipping eligible countries link */
	div[class^="Container-sc-"][class*="handle__PolicyWrapper-sc-"] a,
	div[class^="Container-sc-"][class*="handle__PolicyWrapper-sc-"] a:hover,
	div[class^="Container-sc-"][class*="handle__PolicyWrapper-sc-"] a:active,
	div[class^="Container-sc-"][class*="handle__PolicyWrapper-sc-"] a:visited {
		color: var(--makeship-header-color);
	}
	/* Refund Policy */
	div[class*="handle__PolicyWrapper-sc-"] span {
		color: var(--makeship-text-color);
	}
	
	/** ==Cookies Policy== **/
	div[class*="cookies-policy__CookiesPolicyContainer-"] :is(p, h1, h4, h5, h6, ul) {
		color: var(--makeship-text-color);
	}
	div[class*="cookies-policy__CookiesPolicyContainer-"] a,
	div[class*="cookies-policy__CookiesPolicyContainer-"] a:active,
	div[class*="cookies-policy__CookiesPolicyContainer-"] a:hover,
	div[class*="cookies-policy__CookiesPolicyContainer-"] a:visited,
	div[class*="cookies-policy__CookiesPolicyContainer-"] li::before {
		color: var(--makeship-header-color);
	}
	
	/** ==Site Footer== **/
	/* Changing main footer and footer sub-section background colours */
	div[class^="_app__FooterWrapper-"] {
		background-color: var(--makeship-background-color);
	}
	div[class^="Footer__FooterContainer-sc-"] {
		background: var(--makeship-background-color-3);
	}
	/** Footer Logo **/
	div[class^="Footer__FooterRow-sc-"] span img[alt="makeship logo"] {
		content: var(--makeship-footer-logo);
	}
	/** Social Icons **/
	div[class^="Social__SocialWrapper-"] a[href^="https://www.twitter.com"] { /*a:nth-of-type(1) {*/
		content: var(--makeship-social-icon-twitter);
		width: 30px;
	}
	div[class^="Social__SocialWrapper-"] a[href^="https://www.facebook.com"] { /*a:nth-of-type(2) {*/
		content: var(--makeship-social-icon-facebook);
		width: 30px;
	}
	div[class^="Social__SocialWrapper-"] a[href^="https://www.instagram.com"] { /*a:nth-of-type(3) {*/
		content: var(--makeship-social-icon-instagram);
		width: 30px;
	}
	div[class^="Social__SocialWrapper-"] a[href^="https://www.tiktok.com"] { /*a:nth-of-type(4) {*/
		content: var(--makeship-social-icon-tiktok);
		width: 30px;
	}
	/* Changing footer link header colours */
	div[class^="Footer__FooterList-sc-"] p {
		color: var(--makeship-text-color);
	}
	/* Changing footer link headers border-bottom colour */
	div[class^="Footer__FooterList-sc-"] p[class^="Typography__S1-sc-"] {
		border-bottom: 1px solid var(--makeship-header-color);
	}
	/* Changing footer link colours */
	div[class^="Footer__FooterList-sc-"] a,
	div[class^="Footer__FooterList-sc-"] a:active,
	div[class^="Footer__FooterList-sc-"] a:hover,
	div[class^="Footer__FooterList-sc-"] a:visited {
		color: var(--makeship-text-color);
	}
	/* Changing bottom-left footer links border-top colour */
	div[class^="Footer__FooterWrapper-sc-"] div[class^="Footer__FooterRow-sc-"]:nth-of-type(4) {
		border-top: 1px solid var(--makeship-header-color);
	}
	/* Bottom-left footer link colours */
	div[class^="Footer__FooterRow-sc-"] a,
	div[class^="Footer__FooterRow-sc-"] a:active,
	div[class^="Footer__FooterRow-sc-"] a:hover,
	div[class^="Footer__FooterRow-sc-"] a:visited {
		color: var(--makeship-text-color) !important;
	}
	/* Bottom-right footer copyright text */
	div[class^="Footer__FooterRow-sc-"] p[class^="Typography__Caption-sc-"] {
		color: var(--makeship-text-color);
	}
}